/* Comman Styling  */
* {
    margin: 0px;
    box-sizing: border-box;


}

body {
    
}

/* Navigation bar  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: salmon;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 1.5cm;

}

nav ul li {
    list-style: none;
    margin: 0.23px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white
}

nav ul li a:hover {
    color: green;
    font-size: large;

}


/* Home age para */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left {
    flex: 1;
    margin-left: 100px;
    margin-right: 300px;
    font-size: large;
    

  }
  
  .right {
    flex: 1;
    text-align: right;
    margin-top: 70px;
    margin-right: 50px;    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }








.project-btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding : auto;
  margin-top: 20px;
}

.project-btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}